$c-bg: #18171a;
$c-bg-pink: #ff2f61;
$c-text: #fefefe;
$c-text-pink: #ff2f61;
$c-title: #fefefe;
$c-title-pink:#ff2f61;
$c-circle:#ff2f61;
$c-circle-black: #18171a;

$size-text: 1rem;
$size-text-big: 1.333rem;
$size-title-biggest: 1.333rem;
$size-title-big: 2.369rem;
$size-title-medium: 1.777rem;
$size-title-little: 1.333rem;
$size-link: 1.777rem;

$size-desktop-text: 1.333rem;
$size-desktop-text-big: 1.777rem;
$size-desktop-title-biggest: 18px;
$size-desktop-title-big: 4.209rem;
$size-desktop-title-medium: 3.157rem;
$size-desktop-title-little: 2.369rem;


